.jumbotron {
  text-align: center;
  font-size: 500%;
  background-color:rgb(255, 241, 211);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  background-color: rgb(129, 68, 68);
  background-image: url("../img/pizza2.jpg");
}

h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 { 
  text-align: center;
  margin-top: center;
  margin-bottom: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 125%;
}

#cost {
  font-size: 120%;
  text-align: center;
}

img {
  margin-right: auto;
  margin-left: auto;
  width: 550px;
  height: 350px;
}

.container {
  background-color: rgb(255, 241, 211);
  padding: 50px;
}

#intro {
  background-color: rgb(255, 241, 211);
  border-radius: 25px;
  opacity: 85%;
}

.col-6 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#toppings {
  font-size: 150%;
}

#size {
  font-size: 150%;
}

#spacing {
  margin-top: 50px;
}

.btn {
  margin-left: 10px;
  margin-bottom: 20px;
}

.card {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(129, 68, 68);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#footer {
  color: rgb(255, 241, 211);
}

footer {
  text-align: center;
}

